# Terraform working directory
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*

# Terraform plan
*.tfplan
tfplan

# Terraform crash logs
crash.log
crash.*.log

# Variable files
# 実際の環境値・秘密情報を含む可能性があるためGit管理しない
*.tfvars
*.tfvars.json

# Terraform CLI configuration
.terraformrc
terraform.rc

# Local Provider cache
.terraform-plugin-cache/